@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

input[type = "email"]:focus ~ .input-text{
  @apply text-blue-500 transform -translate-y-10 -translate-x-9 scale-75;
}

input[type = "text"]:focus ~ .input-text{
  @apply text-blue-500 transform -translate-y-14 -translate-x-9 scale-75;
}

@layer base {
  /* body {
      @apply font-[Raleway];
  } */
  li {
      @apply px-4;
      @apply cursor-pointer
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 420px;
}

.content-div:hover {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.952),
      hsla(0, 0%, 3%, 0.8)   
  )!important;
}